{% extends 'partials/base.html.twig' %}

{# {% block showcase %}
    <div id="header_image" style="background-image: url({{ url('theme://images/book_light_editorial_openbook_Blurred.jpg') }})">
        <h3 class="center">We'll help you bring your book to light</h3>
    </div>
{% endblock %} #}

{% block content %}
    <div class="pure-g">
        {% for column in page.content|split('<h6>Sidebar</h6>') %}
        	{% if loop.first %}
	        	<div class="block pure-u-2-3">
	            	{{ column }}
	        	</div>
	        {% elseif loop.last %}
        		<div id="sidebar" class="block size-1-3 pure-u-1-3">
        	    	{{ column }}
        		</div>
        	{% endif %}
        {% endfor %}
    </div>
{% endblock %}