$primary: #404040;
$accent1: #487A94;
$accent2: #E1C29A;

body#top {

	a, h1,	h2,	h3,	h4,	h5,	h6 {
		color: $accent1;
	}

	.button {
		border-radius: 5px;
		border: 1px solid $accent1;
		padding: 10px 20px;
		background-color: #fbfbfb;
		color: $accent1;
		font-weight: bold;
		transition: .25s all;

		&:hover {
			background-color: $accent2;
		}
	}

	.featherlight {

		.featherlight-content {
			border-radius: 5px;
			padding: 15px 20px 0;
		}

	}

	header#header {
		background-color: $primary !important;
		padding-left: 2rem;
		padding-right: 2rem;

		#logo {
			padding: 13px 5px;
			transition: .5s padding;

			img {
				width: 400px;
				transition: .5s width;
			}

		}

		#navbar {

			li {

				a {
					color: $accent2 !important;
				}

				a:before, a:after {
					background-color: $accent2 !important;
				}

			}

			.menu-btn {
				color: $accent2 !important;
			}

		}

		&.scrolled {

			#logo {
				padding: 5px;

				img {
					width: 297px;
				}

			}

		}

		@media only all and (max-width: 1097px) {
			padding-left: 0;
			padding-right: 0;
		}

		@media only all and (max-width: 1033px) {

			#logo {
				padding: 18px 5px;

				img {
					width: 325px;
				}

			}

		}

		@media only all and (max-width: 391px) {

			#logo {
				padding: 22px 5px;

				img {
					width: 268px !important;
				}

			}

		}

	}

	#header_image {
		height: 225px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	section#body {
		background-color: #fbfbfb;
		color: $primary;
		padding-bottom: 5rem;

		.pure-g {

			.right-column {
				padding-left: 3rem;
			}

			@media only all and (max-width: 47.938em) {
				.right-column {
				    padding-left: 0;
				}
			}

		}

		.first-character {
			color: $accent2;
			float: left;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-size: 75px;
			line-height: 60px;
			padding-top: 4px;
			padding-right: 8px;
			padding-left: 3px;
		}

		#_quick-form + .modular-row.form {
			display: none;
		}

		.modular-row.callout {
			background-color: inherit;
			padding: 1rem;
		}

		.about-left {

			img.profile {
				width: 352px;
			}

			@include breakpoint(mobile-only) {
		        iframe {
		        	display: none !important;
		        }
		    }

		}

		.about-right {
			padding-left: 3rem;

			img.org {
				padding: 0 10px 10px 0;
			}

		    @include breakpoint(mobile-only) {
		        padding-left: 0;
		    }

		}

		#about_lightslider-wrapper {

			#about_lightslider {
				height: 400px !important;

				li {
					height: 100%;

					img {
						max-height: 400px;
						width: auto;
						margin: auto;
					}

				}

			}
			
		}

		#book_lightslider-wrapper {

			#book_lightslider {

				li {
					height: 250px;
					width: 170px;

					img {
						height: 100%;
						width: auto;
						max-width: 170px;
						margin: auto;
					}

				}

				li.active {

					img {
						opacity: 1;
					}

				}

				li:not(.active) {

					img {
						height: 85%;
						opacity: 0.3;
						transition: 1s all;
					}

				}

			}

		}

		#testimonial_boxes {
			padding-top: 4rem;
		}

		blockquote {
			border-left: 10px solid lightgrey;

			p {
				color: #555;
			}

		}

		.box-row {

			.box {
				background-color: #f7f7f7;
				background-image: url('../images/accents/Book_Light_Editorial_Spines_gold.png');
			    background-repeat: no-repeat;
			    background-size: 100px;
			    background-position: right 10px bottom 10px;
				color: black;
				margin-bottom: 2rem;
				padding: 0 20px;
				border: 2px solid $accent1;
				border-radius: 5px;
			}

		}

		img.float-left {
			float: left;
			padding: 0 10px 10px 0;
		}

		.center {
			text-align: center;
		}

		.notices.gold {
		    border-left: 10px solid $accent2;
		    background-color: white;
		    background-image: url('../images/accents/book_light_editorial_coffeestain.png');
		    background-repeat: no-repeat;
		    background-size: 150px;
		    background-position: right 10px top 10px;
		    color: #222;
		    padding-right: 5px;
		}

		.tags {

			a {
				border-color: $accent1;
				color: $accent1;
			}

		}

	}

	footer#footer {
		position: static;
		background-color: $primary;
		padding-bottom: 20px;
		height: auto;

		.totop {
			position: relative;
			bottom: 23px;

			span {
				background-color: $primary;
			}

		}

		#social-media {
			margin-bottom: 10px;

			img {
				height: 30px;
				padding: 0 5px;
			}

		}

		#heart-book {
			margin-bottom: 10px;
		}

		p {
			position: static;
			top: 0;
			transform: initial;
		}

	}

}
